
@{
    ViewData["Title"] = "EDIT";
    Layout = "~/Views/Shared/_UserLayout1.cshtml";
}

<h1>EDIT</h1
    @using WebApplicationEF1616.Models;
@model PRODUCT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }


      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
        ad>
        <meta charset="utf-8" />
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
        <title></title>
</head>
<body>
    <section class="vh-100 bg-image"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5"></h2>
            @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="mb-5 text-secondary">INSERTING DETAILS</h4>
                        <div class="row">
                            <div class="mb-3 col-md-8">
                                <label>PNAME<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.PNAME, new { @class = "form-control", placeholder="Enter PNAME" })
                                @Html.ValidationMessageFor(model => model.PNAME, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-8">
                                <label>DESCREPTION<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.DESCREPTION, new { @class = "form-control", placeholder="Enter DESCREPTION" })
                                @Html.ValidationMessageFor(model => model.DESCREPTION, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>EXPAIRYDATE<span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.EXPAIRYDATE, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "EXPAIRYDATE"} })
                                @Html.ValidationMessageFor(model => model.EXPAIRYDATE, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3 col-md-8">
                                <label>PRICE<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.PRICE, new { @class = "form-control", placeholder="Enter PRICE" })
                                @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                            </div>
                                        @Html.ActionLink("GOBACK TO LIST","Display","PRODUCT");
                                <input type="submit" class="btn btn-primary float-end" value="Submit" >
                            </div>
                        
                    }
</body>
</html>


